@import 'tailwindcss';
@import '@nuxt/ui';
@import 'tw-animate-css';

/* Custom Colors */
@layer base {
  button,
  [role='button'] {
    @apply cursor-pointer;
  }

  :disabled,
  [disabled] {
    @apply cursor-not-allowed;
  }
}

:root {
  --ui-header-height: 74px;
}

.swiper-slide {
  isolation: isolate; /* Für jeden Slide */
  contain: layout style; /* Enthält den Context, ohne Performance-Hit */
}
